{% extends 'basic/tpl_logged.html' %}
{% block body %}
{% load staticfiles %}
		<div class="main ui container ">
			  <div class="ui grid">
			  <div class="four wide column">
			    <div class="ui vertical fluid tabular menu">
			      <a href="../basic" class="item">个人信息 </a>
			      <a href="../skill" class="item">技能 </a>
			      <a href="../career" class="item">职业期望 </a>
			      <a href="../experience" class="item">工作于教育经历 </a>
			      <a href="../self_intro" class="item">个人描述</a>
			      <a href="../social_media" class="item active">社交网络 </a>
			    </div>
			  </div>
		  	  <div class="twelve wide stretched column">
		   		<div class="ui segment">
			   <div class="header-bar">社交网络</div>
				<div class="ui divider"></div>
				<form class="ui form" method="post" action="/resume/social_media/">
					<div class="field">
						<div class="ui input">
							<img src="{% static 'img/resume/gh.png'%}">
						  	<input type="text" name="github" placeholder="Github">
						</div>
						<div class="ui input">
							<img src="{% static 'img/resume/blog.png'%}">
						  	<input type="text" name="blog" placeholder="博客">
						</div>
						<div class="ui input">
							<img src="{% static 'img/resume/www.png'%}">
						  	<input type="text" name="personal-page" placeholder="个人网站">
						</div>
						<div class="ui input">
							<img src="{% static 'img/resume/zhihu.png'%}">
						  	<input type="text" name="zhihu" placeholder="知乎">
						</div>
					</div>
					<div class="save"><button class="ui primary button" type="submit">保存</button></div>
				</form>
		      </div>
			  </div>
			</div>
        </div>
{% endblock %}