{% extends 'basic/tpl_logged_classifier.html ' %}
{% block body %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/job.css' %}">



    <div class="job-body">
    <div class="job-container">
        <div class="job-info">
            <div class="job-info-in">
            <div class="job-title-block">
                <div class="job-button">
                    <div class="job-button-right">
                        <div class="ui labeled big button pointing" tabindex="0">
                          <div class="ui button teal big "><i class="heart icon"></i> Like </div>
                          <a class="ui basic label">
                            51
                          </a>
                            <button class="ui right labeled big blue icon button" style="margin-left:20px;"><i class="right arrow icon"></i> 投递简历 </button>
                        </div>

                    </div>

                </div>
                <div class="job-info-left">
                    <h1>阿里拍卖-Java资深开发工程师P6/Java技术专家P7</h1>
                    <div class="job-require">
                        <div class="ui tag blue labels">
                          <a class="ui large label">¥20-40k*16月 </a>
                          <a class="ui large label">3年以上 </a>
                          <a class="ui large label">专科 </a>
                          <a class="ui large label">不限教育经历 </a>
                          <a class="ui large label">北京 </a>
                        </div>
                    </div>
                    <div class="job-time">上次活跃时间:2018.1.1 06:23</div>
                </div>
            </div>
                <hr>
            <div class="job-details">
                <div class="job-block">
                    <h2>技能要求</h2>
                    <div class="job-describe">
                        <div class="job-require">
                        <div class="ui labels">
                          <a class="ui label">Java</a>
                          <a class="ui label">Mysql</a>
                          <a class="ui label">Spring</a>
                          <a class="ui label">Nosql</a>
                          <a class="ui label">架构</a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="job-block">
                    <h2>公司福利</h2>
                    <div class="job-describe">股票期权; 绩效奖金; 弹性工作; 年底双薪; 带薪年假; 定期体检; 很多培训; 午餐补贴</div>
                </div>
                <div class="job-block">
                    <h2>岗位描述</h2>
                    <div class="job-describe">
阿里拍卖是阿里巴巴集团发展最为迅速、前景最为耀眼的创新业务之一，目前已经成为国内最大的网上商业拍卖和司法拍卖平台，支持包括珍品拍卖、奢侈品拍卖、二手车拍卖、房产拍卖、不良资产处置拍卖、司法拍卖等多个市场体量巨大的业务。
拍卖业务相对于一般互联网产品，技术上对稳定性和可用性的要求更高，在竞价过程中特别是最后阶段要求系统持续地稳定运行，在这样的约束下拍卖的系统架构、开发模式、质量保障、容灾建设都有巨大的技术挑战；同时，在数据化运营、个性化导购等方面都有很丰富的技术创新场景。
1. 负责阿里拍卖商家运营、导购链路、竞价交易等核心业务，承担高可用分布式系统技术方案的设计和编码。
2. 抽象拍卖通用扩展框架、基础组件，灵活支撑珍品和司法等不同拍卖细分业务。
3. 为团队引入创新的技术、创新的解决方案，用创新的思路解决实际问题（例如导购链路个性化、拍卖整体容灾等）。
</div>
                </div>
                <h2>岗位要求</h2>
                <div class="job-describe">
1. Java基础扎实，对集合、IO、反射、多线程、NIO等高级特性有深入的掌握，对JVM原理、GC机制有较好的理解。 2. 三年以上的JAVA系统开发经验，精通面向对象设计，对项目中接触过的开源框架、技术产品、算法等有针对性的进行过深入学习，了解其底层机制和原理。 3. 有实际中大型系统设计经验，能有效利用技术手段解决实际业务需求。 4. 对技术富有热情，能关注JAVA或互联网行业技术发展趋势，勇于尝试、敢于推动。 5. 良好的沟通能力，勇于担当，能和团队形成合力。 具备以下能力或经验者优先: 　　分布式环境下高可用程序设计和实现（如银行、证券等高可用系统）。 　　信息距离理论基础，智能问答系统、爬虫系统设计和实现。 　　统一数据接口层或类似平台的架构经验（如开放接口平台、GraphQL等）。
</div>
                </div>
                <div class="job-block">
                    <h2>工作地点</h2>
                    <div class="job-describe">北京，北京</div>
                </div>
                </div>
            </div>
        </div>
        <div class="company-info">
            <div class="company-box">
            {% load staticfiles %}
            <img class="company-img" src="{% static 'img/company/logo/1.jpg' %}">
{#            <hr>#}
            <script src="//at.alicdn.com/t/font_573684_agwepd9n5du6jemi.js"></script>
                <ul>
                <li>
                    阿里巴巴
                </li>
                <li><style type="text/css">
                    .icon1 {
                       width: 1em; height: 1em;
                       vertical-align: -0.15em;
                       fill: currentColor;
                       overflow: hidden;
                        margin-right:5px;
                    }
                    </style>
                    <svg class="icon1" aria-hidden="true">
                      <use xlink:href="#icon-dianzishangwu"></use>
                    </svg>电子商务</li>
                <li><svg class="icon1" aria-hidden="true">
                      <use xlink:href="#icon-renshutongji"></use>
                    </svg>500人以上</li>
                <li><svg class="icon1" aria-hidden="true">
                      <use xlink:href="#icon-gongsiyewu"></use>
                    </svg>  上市公司</li>
            </ul>
            </div>
        </div>
    </div>
    </div>
{% endblock %}