<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <title>100offer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/basic/test.css'%}">
</head>
<body>
<div class="head">
    <div class="head-pic">
        <div class="head-first">
            <img src="https://snow-assets.b0.upaiyun.com/assets/logo-white-2d190d988f772604c8e00fb85c632933.png">
            <div class="daohang">
                <ul>
                    <li><a href="https://konohax.github.io/100offer/company.html">我要招人</a></li>
                    <li><a href="#">使用攻略</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">推荐</a></li>
                    <li><a href="#" class="getA">登录</a></li>
                    <li><a href="#" class="getB">注册</a></li>
                </ul>
            </div>
            <div class="banner-text">
                <div class="content">
                    <h1 class="title">1次申请，10个优质offer，1份更好的工作</h1>
                    <h3 class="subtitle">2年＋工作经验，20w－80w年薪，互联网技术、设计、产品</h3>
                    <div class="apply banner-btn">
                        <a href="#">
                            <div>现在申请</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news">
    <div class="news-content clearfix">
        <a href="#" class="news1 item">
            <div class="pic1">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-b2ebae5a1809ca1294b743917260d19c.png"/>
            </div>
            <div class="pic2">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-blue-0d67e9cc24f13423ef88ec2b8388334c.png"/>
            </div>
            <div class="news-text">为何Facebook工程师</div>
            <div class="news-text">会使用100offer挑工作</div>
        </a>
        <a href="#" class="news2 item">
            <div class="pic1">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/featured5-81ad15528dbcef583f04ea04282a15ba.png"/>
            </div>
            <div class="pic2">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/featured5-blue-bc749b28b6b1434f1c01294438f24ff9.png"/>
            </div>
            <div class="news-text">数据解读互联网技术</div>
            <div class="news-text">人才薪资</div>
        </a>
        <a href="#" class="news3 item">
            <div class="pic1">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-b2ebae5a1809ca1294b743917260d19c.png"/>
            </div>
            <div class="pic2">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-blue-0d67e9cc24f13423ef88ec2b8388334c.png"/>
            </div>
            <div class="news-text">为何Facebook工程师</div>
            <div class="news-text">会使用100offer挑工作</div>
        </a>
        <a href="#" class="news4 item">
            <div class="pic1">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-b2ebae5a1809ca1294b743917260d19c.png"/>
            </div>
            <div class="pic2">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-blue-0d67e9cc24f13423ef88ec2b8388334c.png"/>
            </div>
            <div class="news-text">为何Facebook工程师</div>
            <div class="news-text">会使用100offer挑工作</div>
            <div class="qrcode">
                <img alt="Qrcode" src="https://snow-assets.b0.upaiyun.com/assets/mail_template/qrcode-4e762afe8dc59a5f29915c46c10816fb.jpg">
            </div>
        </a>
    </div>
</div>
<div class="process">
    <div class="inner">
        <div class="c-box clearfix">
            <h1>拍卖流程</h1>
            <h4>熟悉我们的操作流程</h4>
            <div class="step">
                <div class="singleblock">
                    <div class="step-image standout">
                        <img src="https://snow-assets.b0.upaiyun.com/assets/icons/apply-159c6c8f71b6ab44ccbcbc544cd6a256.png">
                    </div>
                    <div class="step-title">申请参加拍卖</div>
                    <div class="hidden-xs">
                        <div class="step-num">
                            01
                            <div class="right-line">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="step-detail">注册、完善个人资料并提交申请。审核顾问会在两个工作日内通知您审核结果。
                        一旦通过审核，将会在拍卖中匿名展示7天。
                    </div>
                </div>
                <div class="singleblock">
                    <div class="step-image standout">
                        <img src="https://snow-assets.b0.upaiyun.com/assets/icons/auction-aca4979e529a2aa13bd4a5cd883cb969.png">
                    </div>
                    <div class="step-title">拍卖开始</div>
                    <div class="hidden-xs">
                        <div class="step-num">
                            02
                            <div class="left-line">
                                <hr>
                            </div>
                            <div class="right-line">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="step-detail">每周一上午9点准时开拍。届时，对您中意的企业会给您开出包含职位、薪资等信息的面试邀请。</div>
                </div>
                <div class="singleblock">
                    <div class="step-image standout">
                        <img src="https://snow-assets.b0.upaiyun.com/assets/icons/interview-ce75e8a16ca2220e47b7c9fbaf877896.png">
                    </div>
                    <div class="step-title">沟通并确认面试时间</div>
                    <div class="hidden-xs">
                        <div class="step-num">
                            03
                            <div class="left-line">
                                <hr>
                            </div>
                            <div class="right-line">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="step-detail">挑选您喜欢的公司，同意面试邀请，确定面试时间。当然，您也可以直接拒绝不靠谱的机会。</div>
                </div>
                <div class="singleblock">
                    <div class="step-image standout">
                        <img src="https://snow-assets.b0.upaiyun.com/assets/icons/reward-0b9c8a838e8de74a0795571c647907b5.png">
                    </div>
                    <div class="step-title">快速入职</div>
                    <div class="hidden-xs">
                        <div class="step-num">04
                            <div class="left-line">
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="step-detail">加入最合适的公司并开启职业新旅程。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="company">
    <div class="company-content">
        <div class="company-title">11000+互联网企业在这里招聘</div>
        <div class="company-list clearfix">
            <div class="imgN num0">
                <div class="grey-img0"></div>
                <div class="color-img0"></div>
            </div>
            <div class="imgN num1">
                <div class="grey-img1"></div>
                <div class="color-img1"></div>
            </div>
            <div class="imgN num2">
                <div class="grey-img2"></div>
                <div class="color-img2"></div>
            </div>
            <div class="imgN num3">
                <div class="grey-img3"></div>
                <div class="color-img3"></div>
            </div>
            <div class="imgN num4">
                <div class="grey-img4"></div>
                <div class="color-img4"></div>
            </div>
            <div class="imgN num5">
                <div class="grey-img5"></div>
                <div class="color-img5"></div>
            </div>
            <div class="imgN num6">
                <div class="grey-img6"></div>
                <div class="color-img6"></div>
            </div>
            <div class="imgN num7">
                <div class="grey-img7"></div>
                <div class="color-img7"></div>
            </div>
            <div class="imgN num8">
                <div class="grey-img8"></div>
                <div class="color-img8"></div>
            </div>
            <div class="imgN num9">
                <div class="grey-img9"></div>
                <div class="color-img9"></div>
            </div>
            <div class="imgN num10">
                <div class="grey-img10"></div>
                <div class="color-img10"></div>
            </div>
            <div class="imgN num11">
                <div class="grey-img11"></div>
                <div class="color-img11"></div>
            </div>
            <div class="imgN num12">
                <div class="grey-img12"></div>
                <div class="color-img12"></div>
            </div>
            <div class="imgN num13">
                <div class="grey-img13"></div>
                <div class="color-img13"></div>
            </div>
            <div class="imgN num14">
                <div class="grey-img14"></div>
                <div class="color-img14"></div>
            </div>
            <div class="imgN num15">
                <div class="grey-img15"></div>
                <div class="color-img15"></div>
            </div>
            <div class="imgN num16">
                <div class="grey-img16"></div>
                <div class="color-img16"></div>
            </div>
            <div class="imgN num17">
                <div class="grey-img17"></div>
                <div class="color-img17"></div>
            </div>
            <div class="imgN num18">
                <div class="grey-img18"></div>
                <div class="color-img18"></div>
            </div>
            <div class="imgN num19">
                <div class="grey-img19"></div>
                <div class="color-img19"></div>
            </div>
        </div>
    </div>
</div>
<div class="lunbo">
    <a class="left-btn" href="javascript:void(0)"></a>
    <a class="right-btn" href="javascript:void(0)"></a>
    <div class="lb-content">
        <ul>
            <li class="part1 show">
                <div class="header-pic"><img
                        src="https://snow-assets.b0.upaiyun.com/assets/talents/nianyong-e43bfa121bcb73c8720f7550c0553090.png">
                </div>
                <div class="script">
                    <div class="recommendation">
                        <p>100offer最大的不同在于：提供的是服务而并非是工具。</p>
                        <p>他们在乎整个应聘流程中你的体验，而不是傻乎乎的给你个链接：『OK，你到上面投简历<br/>吧，后面我们不管了』。</p>
                    </div>
                    <div class="basic-info">
                        <div class="company-info">粘永，入职Strikingly，Ruby on Rails后端开发</div>
                    </div>
                </div>
            </li>
            <li class="part2">
                <div class="header-pic"><img
                        src="https://snow-assets.b0.upaiyun.com/assets/talents/lixuerui-1813e564c88aec7fde0933051d21cf54.png">
                </div>
                <div class="script">
                    <div class="recommendation">
                        <p>100offer打破了用户和企业HR，技术中层之间的藩篱。我在100offer上收到的邀请大多数都<br/>
                            是由Tech Leader直接发出，省去了前期繁琐的沟通。招聘流程的简化让求职变的更加高<br/>
                            效。
                        </p>
                        <p>非常高兴通过100offer加入了美团的数据部门。</p>
                    </div>
                    <div class="basic-info">
                        <div class="company-info">李雪蕤， 入职美团，Hadoop大数据平台开发</div>
                    </div>
                </div>
            </li>
            <li class="part3">
                <div class="header-pic"><img
                        src="https://snow-assets.b0.upaiyun.com/assets/talents/fengtianxi-194109c815bbef631fa2056c539dddd8.png">
                </div>
                <div class="script">
                    <div class="recommendation">
                        <p>100offer的“拍卖”模式既摆脱了仅靠朋友、猎头推荐的局限性，也摆脱了传统招聘网站投<br/>
                            递简历等回信的被动性。
                        </p>
                        <p>一周时间，我完成了从挑选公司、面试到谈offer入职的全过程。100offer高效、透明的求职<br/>
                            方式，和专业的服务，给我带来了一次非常棒的求职体验。
                        </p>
                    </div>
                    <div class="basic-info">
                        <div class="company-info">粘永，入职Strikingly，Ruby on Rails后端开发</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="app-con">
    <div class="app-text">现在申请！2天收到5-10个面试机会</div>
    <div class="apply banner-btn">
        <a href="#">
            <div>现在申请</div>
        </a>
    </div>
</div>
<div class="footer">
    <div class="main-container">
        <div class="links">
            <ul>
                <li><a href="">关于我们</a></li>
                <li><a href="">使用攻略</a></li>
                <li><a href="">加入我们</a></li>
                <li><a href="">法律声明</a></li>
                <li class="hidden-xs">|</li>
                <li>
                    <span class="hidden-xs">关注我们：</span>
                    <span class="weixinqr-trigger" id="weixinqr">
                        <span class="weixin-grey">
                            <img alt="Wechat grey" src="https://snow-assets.b0.upaiyun.com/assets/index/wechat-grey-6895b2215cccd7ea4a913e941be324aa.png">
                        </span>
                        <span class="weixin">
                            <img alt="Wechat" src="https://snow-assets.b0.upaiyun.com/assets/index/wechat-97ad7d3ba2d0c223b5739fe7c2763725.png">
                        </span>
                        <div class="qrcode" style="display: none">
                            <img  alt="Qrcode" src="https://snow-assets.b0.upaiyun.com/assets/mail_template/qrcode-4e762afe8dc59a5f29915c46c10816fb.jpg">
                        </div>
                    </span>
                    <span id="weibo">
                        <span class="weibo-grey">
                            <a href="#" target="_blank">
                                <img alt="Weibo grey" src="https://snow-assets.b0.upaiyun.com/assets/index/weibo-grey-1bcee302bcd07bddc786d85aa988d3b1.png">
                            </a>
                        </span>
                        <span class="weibo">
                            <a href="#" target="_blank">
                                <img alt="Weibo" src="https://snow-assets.b0.upaiyun.com/assets/index/weibo-cbcf72f5e367c3075e7c92a04ecb60d0.png">
                            </a>
                        </span>
                    </span>
                    <span id="blog">
                        <span class="blog-grey">
                            <a href="#" target="_blank">
                                <img alt="Blog grey" src="https://snow-assets.b0.upaiyun.com/assets/index/blog-grey-c738b959788e33bcfb141a6616049af2.png">
                            </a>
                        </span>
                        <span class="blog">
                            <a href="#" target="_blank">
                                <img alt="Blog" src="https://snow-assets.b0.upaiyun.com/assets/index/blog-9c0f065a8918ae9b9fc1726ea2234959.png">
                            </a>
                        </span>
                    </span>
                    <span id="linkedin">
                        <span class="linkedin-grey">
                            <a href="#" target="_blank">
                                <img alt="Linkedin grey" src="https://snow-assets.b0.upaiyun.com/assets/index/linkedin-grey-ee2c4f15688fab80f500e74a9e400a8b.png">
                            </a>
                        </span>
                        <span class="linkedin">
                            <a href="#" target="_blank">
                            <img alt="Linkedin" src="https://snow-assets.b0.upaiyun.com/assets/index/linkedin-35f5d7ae62c82881d9026e998f00a0c9.png">
                            </a>
                        </span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="copyright">沪ICP备14017096号-3 © 2016 上海奇点人才服务有限公司</div>
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(function () {
        $(".news .news-content a").mouseover(function () {
            $this = $(this);
            $this.find(".pic1").hide();
            $this.find(".pic2").show();
            $this.children().css("color", "#12c3f9")
            $this.find(".qrcode").show();
        })
        $(".news .news-content a").mouseout(function () {
            $this = $(this);
            $this.find(".pic1").show();
            $this.find(".pic2").hide();
            $this.children().css("color", "#9c9c9c");
            $this.find(".qrcode").hide();
        })
        $(".imgN").mouseover(function () {
            $this = $(this);
            $this.children().eq(0).hide();
            $this.children().eq(1).show();
        })
        $(".imgN").mouseout(function () {
            $this = $(this);
            $this.children().eq(0).show();
            $this.children().eq(1).hide();
        })
        //轮播
        function lunb() {
            var n = $(".lunbo ul li").index($(".lunbo ul li.show"));
            if (n != 2) {
                $(".lunbo ul li").eq(n).removeClass("show").next().addClass("show")
            } else {
                $(".lunbo ul li").eq(2).removeClass("show");
                $(".lunbo ul li").eq(0).addClass("show");
            }

        }
        var time = setInterval(lunb, 2000);
        //触摸清楚定时器
        $(".lunbo").mouseover(function () {
            clearInterval(time)
        })
        $(".lunbo").mouseout(function () {
            time = setInterval(lunb, 2000);
        })
        //按钮
        $(".left-btn").click(function () {
            var n = $(".lunbo ul li").index($(".lunbo ul li.show"));
            if (n != 0) {
                $(".lunbo ul li").eq(n).removeClass("show").prev().addClass("show")
            } else {
                $(".lunbo ul li").eq(0).removeClass("show");
                $(".lunbo ul li").eq(2).addClass("show");
            }
        })
        $(".right-btn").click(function () {
            var n = $(".lunbo ul li").index($(".lunbo ul li.show"));
            if (n != 2) {
                $(".lunbo ul li").eq(n).removeClass("show").next().addClass("show")
            } else {
                $(".lunbo ul li").eq(2).removeClass("show");
                $(".lunbo ul li").eq(0).addClass("show");
            }
        })
        //footer 图片
        $("#weixinqr").mouseover(function(){
            $('.weixin-grey').css("display","none");
            $('.weixin').css("display","inline-block");
            $('.qrcode').css("display","block")
        })
        $("#weixinqr").mouseout(function(){
            $('.weixin-grey').css("display","inline-block");
            $('.weixin').css("display","none");
            $('.qrcode').css("display","none");
        })
        $("#weibo").mouseover(function(){
            $('.weibo-grey').css("display","none");
            $('.weibo').css("display","inline-block");
        })
        $("#weibo").mouseout(function(){
            $('.weibo-grey').css("display","inline-block");
            $('.weibo').css("display","none");
        })
        $("#blog").mouseover(function(){
            $('.blog-grey').css("display","none");
            $('.blog').css("display","inline-block");
        })
        $("#blog").mouseout(function(){
            $('.blog-grey').css("display","inline-block");
            $('.blog').css("display","none");
        })
        $("#blog").mouseover(function(){
            $('.blog-grey').css("display","none");
            $('.blog').css("display","inline-block");
        })
        $("#blog").mouseout(function(){
            $('.blog-grey').css("display","inline-block");
            $('.blog').css("display","none");
        })
        $("#linkedin").mouseover(function(){
            $('.linkedin-grey').css("display","none");
            $('.linkedin').css("display","inline-block");
        })
        $("#linkedin").mouseout(function(){
            $('.linkedin-grey').css("display","inline-block");
            $('.linkedin').css("display","none");
        })
    })
</script>
</body>
</html>
