<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="reset.css" rel="stylesheet" type="text/css">
    <link href="qa-css.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="nav">
    <div class="nav-container container">
        <div class="nav-logo">
            <a href="https://konohax.github.io/100offer/"><img src="https://snow-assets.b0.upaiyun.com/assets/logo-black-ab669df66f502c42227d688abc871f07.png"></a>
        </div>
        <div class="nav-list">
            <ul>
                <li><a href="https://konohax.github.io/100offer/company.html">我要招人</a></li>
                <li><a href="https://konohax.github.io/100offer/qa.html" class="active">使用攻略</a></li>
                <li><a href="#" >Blog</a></li>
                <li><a href="#">推荐</a></li>
                <li class="nav-btn"><a href="">登录</a></li>
                <li class="nav-btn"><a href="#">注册</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <div class="content-title">使用攻略</div>
    <div class="content-part">
        <div class="part-all">
            <div class="part part1 selected">
                <img class="grey" src="https://snow-assets.b0.upaiyun.com/assets/icons/question_unselected-2c4107c09aa9658baba3b66fb15a1b7a.png">
                <img class="color" src="https://snow-assets.b0.upaiyun.com/assets/icons/question_selected-8336cfc9bf6226a9a0ab80e59d05df77.png">
                <p>常见问题</p>
            </div>
        </div>
        <div class="part-all">
            <div class="part part2">
                <img class="grey" src="https://snow-assets.b0.upaiyun.com/assets/icons/tour_unselected-da3f8a2b3386700ee84952ce5eed1ec0.png">
                <img class="color" src="https://snow-assets.b0.upaiyun.com/assets/icons/tour_selected-68b29dc7030b22f14d7047af59300da7.png">
                <p>使用流程</p>
            </div>
        </div>
    </div>
    <div class="content-main question" style="display:block">
        <div class="content-list">
            <div class="content-container">
                <div class="qa-question">
                    <div class="qa-symbol">Q</div>
                    <div class="qa-content">
                        <p>100offer与传统招聘网站有什么不同？</p>
                    </div>
                </div>
                <div class="qa-answer">
                    <div class="qa-symbol">A</div>
                    <div class="qa-content">
                        <p>
                            传统招聘网站需要求职者一个一个职位投递简历，费时费力，而且根本无法保证隐私。而100offer更像是互联网化的猎头服务，只需要申请一次，就可以在2天内收到5-15个面试机会，您可以选择自己喜欢的公司进行面试。
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-container">
                <div class="qa-question">
                    <div class="qa-symbol">Q</div>
                    <div class="qa-content">
                        <p>100offer是猎头么？</p>
                    </div>
                </div>
                <div class="qa-answer">
                    <div class="qa-symbol">A</div>
                    <div class="qa-content">
                        <p>
                            100offer是一个纯互联网产品，目标是使用互联网的手段做到比传统猎头更高效。一般猎头会为一名优秀候选人提供1-3个不错的机会供挑选，但是在100offer，每名候选人的简历，都会被接近5000家签约的优质互联网企业看到，甚至有人可以在一周内看10个以上优质的工作机会。
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-container">
                <div class="qa-question">
                    <div class="qa-symbol">Q</div>
                    <div class="qa-content">
                        <p>100offer与传统招聘网站有什么不同？</p>
                    </div>
                </div>
                <div class="qa-answer">
                    <div class="qa-symbol">A</div>
                    <div class="qa-content">
                        <p>
                            传统招聘网站需要求职者一个一个职位投递简历，费时费力，而且根本无法保证隐私。而100offer更像是互联网化的猎头服务，只需要申请一次，就可以在2天内收到5-15个面试机会，您可以选择自己喜欢的公司进行面试。
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-container">
                <div class="qa-question">
                    <div class="qa-symbol">Q</div>
                    <div class="qa-content">
                        <p>100offer与传统招聘网站有什么不同？</p>
                    </div>
                </div>
                <div class="qa-answer">
                    <div class="qa-symbol">A</div>
                    <div class="qa-content">
                        <p>
                            传统招聘网站需要求职者一个一个职位投递简历，费时费力，而且根本无法保证隐私。而100offer更像是互联网化的猎头服务，只需要申请一次，就可以在2天内收到5-15个面试机会，您可以选择自己喜欢的公司进行面试。
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-container">
                <div class="qa-question">
                    <div class="qa-symbol">Q</div>
                    <div class="qa-content">
                        <p>100offer与传统招聘网站有什么不同？</p>
                    </div>
                </div>
                <div class="qa-answer">
                    <div class="qa-symbol">A</div>
                    <div class="qa-content">
                        <p>
                            传统招聘网站需要求职者一个一个职位投递简历，费时费力，而且根本无法保证隐私。而100offer更像是互联网化的猎头服务，只需要申请一次，就可以在2天内收到5-15个面试机会，您可以选择自己喜欢的公司进行面试。
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-container">
                <div class="qa-question">
                    <div class="qa-symbol">Q</div>
                    <div class="qa-content">
                        <p>100offer与传统招聘网站有什么不同？</p>
                    </div>
                </div>
                <div class="qa-answer">
                    <div class="qa-symbol">A</div>
                    <div class="qa-content">
                        <p>
                            传统招聘网站需要求职者一个一个职位投递简历，费时费力，而且根本无法保证隐私。而100offer更像是互联网化的猎头服务，只需要申请一次，就可以在2天内收到5-15个面试机会，您可以选择自己喜欢的公司进行面试。
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-container">
                <div class="qa-question">
                    <div class="qa-symbol">Q</div>
                    <div class="qa-content">
                        <p>100offer与传统招聘网站有什么不同？</p>
                    </div>
                </div>
                <div class="qa-answer">
                    <div class="qa-symbol">A</div>
                    <div class="qa-content">
                        <p>
                            传统招聘网站需要求职者一个一个职位投递简历，费时费力，而且根本无法保证隐私。而100offer更像是互联网化的猎头服务，只需要申请一次，就可以在2天内收到5-15个面试机会，您可以选择自己喜欢的公司进行面试。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-email">
            <i class="email-pic"></i>
            <span>有任何意见或反馈，可邮件联系</span>
            <a href="mailto:dongchuan@100offer.com" target="_blank" >dongchuan@100offer.com</a>
        </div>
    </div>
    <div class="content-main process" style="display:none">
        <img src="https://journal.b0.upaiyun.com/tour_v3/1.jpg">
        <img src="https://journal.b0.upaiyun.com/tour_v3/2.jpg">
        <img src="https://journal.b0.upaiyun.com/tour_v3/3.jpg">
        <img src="https://journal.b0.upaiyun.com/tour_v3/4.jpg">
        <img src="https://journal.b0.upaiyun.com/tour_v3/5.jpg">
        <img src="https://journal.b0.upaiyun.com/tour_v3/6.jpg">
        <img src="https://journal.b0.upaiyun.com/tour_v3/7.jpg">
        <img src="https://journal.b0.upaiyun.com/tour_v3/8.jpg">
    </div>
</div>
<div class="switch">
    <a href="#">
        <div class="switch-btn">
            看看HR的使用攻略
            <i class="arrow"></i>
        </div>
    </a>
</div>
<div class="footer">
    <div class="main-container foot">
        <nav>
            <div class="fl">
                <a href="#">关于我们</a>
                <a href="#" target="_blank">Blog</a>
                <a id="weixinqr" href="javascript:;" data-original-title="" title="">微信账号</a>
                <a href="#">使用攻略</a>
                <a href="#">加入我们</a>
                <a href="#">法律声明</a>
            </div>
            <div class="fr">
            <span class="fs14 copyright">© 2016</span>
            <span class="fs14">沪ICP备14017096号-3</span>
            </div>
        </nav>
        <div class="clear"></div>
    </div>
</div>
<script src="jquery.min.js"></script>
<script>
    $(function(){
        $(".content .part1").click(function(){
            $(".content .part").removeClass("selected");
            $(".content .part1").addClass("selected");
            $(".content .part1 img.grey").hide();
            $(".content .part1 img.color").show();
            $(".content .part2 img.color").hide();
            $(".content .part2 img.grey").show();
            $(".question").show();
            $(".process").hide();
        });
        $(".content .part2").click(function(){
            $(".content .part").removeClass("selected");
            $(".content .part2").addClass("selected");
            $(".content .part2 img.grey").hide();
            $(".content .part2 img.color").show();
            $(".content .part1 img.color").hide();
            $(".content .part1 img.grey").show();
            $(".question").hide();
            $(".process").show();
        });
        $(".nav-list ul li").mouseover(function(){
            var $this =$(this);
            var n=$this.index();
            $(".nav-list ul li a.active").removeClass("active");
            if(n<=3){
                $this.children("a").addClass("active");
            }else{
                $this.children("a").addClass("bg-c");
            }
        })
        $(".nav-list ul li").mouseout(function(){
            var $this =$(this);
            var n=$this.index();
            if(n<4){
                $this.children("a").removeClass("active");
            }else{
                $(".nav-btn a.bg-c").removeClass("bg-c");
            }
            $(".nav-list ul li").eq(1).children("a").addClass("active")
        })
    })
</script>
</body>
</html>