
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://konohax.github.io/100offer/reset.css">
    <link rel="stylesheet" type="text/css" href="https://konohax.github.io/100offer/company-css.css">
</head>
<body>
<div class="head">
    <div class="head-pic">
        <div class="head-first">
            <div>
                <a href="https://konohax.github.io/100offer/"><img src="https://snow-assets.b0.upaiyun.com/assets/logo-white-2d190d988f772604c8e00fb85c632933.png"></a>
                <div class="daohang">
                <ul>
                    <li><a href="https://konohax.github.io/100offer/company.html">申请拍卖</a></li>
                    <li><a href="https://konohax.github.io/100offer/qa.html">使用攻略</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">推荐</a></li>
                    <li><a href="/login/" class="getA">登录</a></li>
                    <li><a href="/login/" class="getB">注册</a></li>
                </ul>
            </div>
            </div>
            <div class="banner-text">
                <div class="content">
                    <h1 class="title">招聘高端人才，我们比猎头更专业</h1>
                    <h3 class="subtitle">每周300+优质互联网人才，任您选择<br/>
                        ava、Web前端、iOS、PHP、UI设计、产品经理等火热拍卖中</h3>
                    <div class="apply banner-btn">
                        <a href="#">
                            <div>免费注册</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="news">
    <div class="news-content clearfix">
        <a href="#" class="news1 item">
            <div class="pic1"><img
                    src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-b2ebae5a1809ca1294b743917260d19c.png"/>
            </div>
            <div class="pic2"><img
                    src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-blue-0d67e9cc24f13423ef88ec2b8388334c.png"/>
            </div>
            <div class="news-text">新用户如何注册并使用</div>
            <div class="news-text">100offer</div>
        </a>
        <a href="#" class="news2 item">
            <div class="pic1"><img
                    src="https://snow-assets.b0.upaiyun.com/assets/index/featured5-81ad15528dbcef583f04ea04282a15ba.png"/>
            </div>
            <div class="pic2"><img
                    src="https://snow-assets.b0.upaiyun.com/assets/index/featured5-blue-bc749b28b6b1434f1c01294438f24ff9.png"/>
            </div>
            <div class="news-text">使用攻略</div>
        </a>
        <a href="#" class="news3 item">
            <div class="pic1"><img
                    src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-b2ebae5a1809ca1294b743917260d19c.png"/>
            </div>
            <div class="pic2"><img
                    src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-blue-0d67e9cc24f13423ef88ec2b8388334c.png"/>
            </div>
            <div class="news-text">如何用拍卖方式打造不一样的</div>
            <div class="news-text">招聘网站</div>
        </a>
        <a href="#" class="news4 item">
            <div class="pic1"><img
                    src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-b2ebae5a1809ca1294b743917260d19c.png"/>
            </div>
            <div class="pic2"><img
                    src="https://snow-assets.b0.upaiyun.com/assets/index/featured1-blue-0d67e9cc24f13423ef88ec2b8388334c.png"/>
            </div>
            <div class="news-text">100offer公众微信号即时获得</div>
            <div class="news-text">最新的拍卖资讯</div>
            <div class="qrcode"><img alt="Qrcode" src="https://snow-assets.b0.upaiyun.com/assets/mail_template/qrcode-4e762afe8dc59a5f29915c46c10816fb.jpg">
            </div>
        </a>
    </div>
</div>
<div class="advantages">
    <div class="inner">
        <div class="a-box">
            <div class="point">
                <div class="icon"><img src="https://snow-assets.b0.upaiyun.com/assets/index/advantage1-738bcbebbcf2fa0025a57a6610dfc379.png"></div>
                <div class="describe">
                    <div class="d-title">我们帮您筛选简历，这里只有优质互联网人才</div>
                    <div class="d-content">只有5%的申请人能通过我们的筛选，进入拍卖会。他们大多数年薪大于12w，并且有2年以上互联网公司的工作经验。</div>
                </div>
            </div>
            <div class="point">
                <div class="icon"><img src="https://snow-assets.b0.upaiyun.com/assets/index/advantage2-dcb6d2b5b8210ab558a84731cbd76b40.png"></div>
                <div class="describe">
                    <div class="d-title">平均40%响应率</div>
                    <div class="d-content">每发出2-3个面试邀请，就能成功约见一名有明确求职意向的候选人，大大缩短招聘用时，提高招聘效率。</div>
                </div>
            </div>
            <div class="point">
                <div class="icon"><img src="https://snow-assets.b0.upaiyun.com/assets/index/advantage3-072df9fa9a316548274ca9ea2b04c7f3.png"></div>
                <div class="describe">
                    <div class="d-title">每周开拍全新候选人</div>
                    <div class="d-content">通过试用期的候选人，按照年薪的12%-20%收费。此外，每周也会有一部分免费候选人。</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="process">
    <div class="process-in clearfix">
        <div class="singleblock">
            <div class="step-image">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/step1-90ae5f927a63304c83625a159b25ab2f.png">
            </div>
            <div class="step-title">1.拍卖开始</div>
            <div class="step-detail">每周一上午10点准时开拍全新候选人。每个月至少开拍4次，每周500+无重复的互联网人才可供选择，这个数字还在不断增长中。
            </div>
        </div>
        <div class="singleblock">
            <div class="step-image">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/step2-96689fad8c1b8ef3706d897715d17f78.png">
            </div>
            <div class="step-title">2. 挑选合适的候选人</div>

            <div class="step-detail">通过职位、工作地点或者工作年限就可以筛选出大致符合贵司招聘需求的候选人，再从中挑选满意的候选人</div>
        </div>
        <div class="singleblock">
            <div class="step-image">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/step3-bc4e372b12af017aa487b4d18b24f166.png">
            </div>
            <div class="step-title">3. 发送面试邀请</div>

            <div class="step-detail">只需填写职位、薪资范围、股权期权以及邀请信即可向候选人发送面试邀请。</div>
        </div>
        <div class="singleblock">
            <div class="step-image">
                <img src="https://snow-assets.b0.upaiyun.com/assets/index/step4-97657eaf795906eee6196ff3ac5e64c2.png">
            </div>
            <div class="step-title">4. 获得联系方式并安排面试</div>
            <div class="step-detail">候选人接受面试邀请之后，可以查看到TA的姓名及其联系方式，尽快安排面试吧~
            </div>
        </div>
        <a class="hellen-guide" href="#">看看Hellen是如何通过100offer招聘到合适的候选人的</a>
    </div>
</div>
<div class="lunbo">
    <a class="left-btn" href="javascript:void(0)"></a>
    <a class="right-btn" href="javascript:void(0)"></a>
    <ul class="lb-content">
        <li>
            <div class="c-logo">
                <div class="logo img0"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img1"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img2"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img3"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img4"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
            </div>
        </li>
        <li>
            <div class="c-logo">
                <div class="logo img5"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img6"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img7"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img8"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img9"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
            </div>
        </li>
        <li>
            <div class="c-logo">
                <div class="logo img1"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img6"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img2"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img8"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
                <div class="logo img4"><p class="hover-text">已通过100offer平台成功招聘3人</p></div>
            </div>
        </li>
    </ul>
</div>
<div class="problem">
    <div class="problem-container">
        <div class="problem1">
            <h1>Q：我是招聘方，为什么我要用100offer？</h1>
            <p>A：100offer是国内目前唯一一个可以高效批量接触到优质互联网人才的网站，而且简历信息里包括候选人的具体求职意向以及社交类网址，省去了漫长的搜索优质候选人的过程，您可以集中精力跟候选人沟通、面试，大大提升招聘效率。</p>
        </div>
        <div class="problem2">
            <h1>Q：100offer与别的招聘网站有何不同？</h1>
            <p>A：在100offer，您不需要撰写JD、发布职位，我们把所有的候选人直接展示在您的面前，您只需要挑选出合适的候选人邀请他们过来面试即可。 100offer对每一位候选人严格审核，确保只将最优秀的互联网人才加入拍卖。而在传统招聘网站您只会收到大量参差不齐的简历更有可能求职意向不明，严重影响您的工作效率。</p>
        </div>
        <div class="problem3">
            <h1>Q：100offer如何收费？</h1>
            <p>A：100offer目前是以签约后按结果付费的形式，即您在100offer注册账号、看简历、发面试邀请、面试候选人都是不需要任何费用，只有在候选人成功入职后，我们才会收取候选人年薪12%的佣金，而且我们有三个月的保证期。同时，我们每周都会上线一批完全免费的候选人供您选择。</p>
        </div>
        <div class="problem4">
            <h1>Q：你们提供怎样的候选人？</h1>
            <p>A：100offer目前已正式转变为高端人才招聘网站，不仅提供优质的程序员人才，还有设计、产品、运营、市场等各类互联网职位可供选择。</p>
        </div>
        <a href="#">更多</a>
    </div>
</div>
<div class="register-con">
    <div class="register-text">现在注册，马上开始挑选高端互联网人才！</div>
    <div class="register banner-btn">
        <a href="#">
            <div>现在申请</div>
        </a>
    </div>
</div>
<div class="footer">
    <div class="main-container">
        <div class="links">
            <ul>
                <li><a href="">关于我们</a></li>
                <li><a href="">使用攻略</a></li>
                <li><a href="">加入我们</a></li>
                <li><a href="">法律声明</a></li>
                <li class="hidden-xs">|</li>
                <li>
                    <span class="hidden-xs">关注我们：</span>
                    <span class="weixinqr-trigger" id="weixinqr">
                        <span class="weixin-grey grey">
                            <img alt="Wechat grey" src="https://snow-assets.b0.upaiyun.com/assets/index/wechat-grey-6895b2215cccd7ea4a913e941be324aa.png">
                        </span>
                        <span class="weixin">
                            <img alt="Wechat" src="https://snow-assets.b0.upaiyun.com/assets/index/wechat-97ad7d3ba2d0c223b5739fe7c2763725.png">
                        </span>
                        <div class="qrcode" style="display: none">
                            <img  alt="Qrcode" src="https://snow-assets.b0.upaiyun.com/assets/mail_template/qrcode-4e762afe8dc59a5f29915c46c10816fb.jpg">
                        </div>
                    </span>
                    <span id="weibo">
                        <span class="weibo-grey grey">
                            <a href="#" target="_blank">
                                <img alt="Weibo grey" src="https://snow-assets.b0.upaiyun.com/assets/index/weibo-grey-1bcee302bcd07bddc786d85aa988d3b1.png">
                            </a>
                        </span>
                        <span class="weibo">
                            <a href="#" target="_blank">
                                <img alt="Weibo" src="https://snow-assets.b0.upaiyun.com/assets/index/weibo-cbcf72f5e367c3075e7c92a04ecb60d0.png">
                            </a>
                        </span>
                    </span>
                    <span id="blog">
                        <span class="blog-grey grey">
                            <a href="#" target="_blank">
                                <img alt="Blog grey" src="https://snow-assets.b0.upaiyun.com/assets/index/blog-grey-c738b959788e33bcfb141a6616049af2.png">
                            </a>
                        </span>
                        <span class="blog">
                            <a href="#" target="_blank">
                                <img alt="Blog" src="https://snow-assets.b0.upaiyun.com/assets/index/blog-9c0f065a8918ae9b9fc1726ea2234959.png">
                            </a>
                        </span>
                    </span>
                    <span id="linkedin">
                        <span class="linkedin-grey grey">
                            <a href="#" target="_blank">
                                <img alt="Linkedin grey" src="https://snow-assets.b0.upaiyun.com/assets/index/linkedin-grey-ee2c4f15688fab80f500e74a9e400a8b.png">
                            </a>
                        </span>
                        <span class="linkedin">
                            <a href="#" target="_blank">
                                <img alt="Linkedin" src="https://snow-assets.b0.upaiyun.com/assets/index/linkedin-35f5d7ae62c82881d9026e998f00a0c9.png">
                            </a>
                        </span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="copyright">沪ICP备14017096号-3 © 2016 上海奇点人才服务有限公司</div>
    </div>
</div>
<script src="https://konohax.github.io/100offer/jquery-1.7.2.js"></script>
<script>
    $(function () {
        //图片
        $(".news .news-content a").mouseover(function () {
            $this = $(this);
            $this.find(".pic1").hide();
            $this.find(".pic2").show();
            $this.children().css("color", "#12c3f9")
            $this.find(".qrcode").show();
        })
        $(".news .news-content a").mouseout(function () {
            $this = $(this);
            $this.find(".pic1").show();
            $this.find(".pic2").hide();
            $this.children().css("color", "#9c9c9c");
            $this.find(".qrcode").hide();
        })
        $(".imgN").mouseover(function () {
            $this = $(this);
            $this.children().eq(0).hide();
            $this.children().eq(1).show();
        })
        $(".imgN").mouseout(function () {
            $this = $(this);
            $this.children().eq(0).show();
            $this.children().eq(1).hide();
        })
        //左右滑动轮播
        function lunb() {
            var n = parseInt($(".lunbo ul").css("left"));
            var a = parseInt($(".lunbo ul li").outerWidth());
            var index=(-n/a);
            if(index<=1){
                $(".lunbo ul").animate({
                    left:"-=100%"
                },500)
            }else {
                $(".lunbo ul").animate({"left":"0"},500)
            }
        }
        var time = setInterval(lunb, 2000);
        //触摸清楚定时器
        $(".lunbo").mouseover(function () {
            clearInterval(time)
        })
        $(".lunbo").mouseout(function () {
            time = setInterval(lunb, 2000);
        })
        //按钮
        $('.right-btn').bind("click",function(){
           if(!$(".lunbo ul").is(":animated")) {
               lunb();
           }
       })
        $('.left-btn').bind("click", function () {
                var n = parseInt($(".lunbo ul").css("left"));
                var a = parseInt($(".lunbo ul").outerWidth());
                if(!$(".lunbo ul").is(":animated")) {
                    if (n >= 0) {
                        $(".lunbo ul").stop().animate({
                            left: "-200%"
                        }, 1000)
                    } else {
                        $(".lunbo ul").stop().animate({"left": "+=100%"}, 1000)
                    }
                }})
        //footer 图片
        $("#weixinqr").mouseover(function(){
            $('.weixin-grey').css("display","none");
            $('.weixin').css("display","inline-block");
            $('.qrcode').css("display","block")
        })
        $("#weixinqr").mouseout(function(){
            $('.weixin-grey').css("display","inline-block");
            $('.weixin').css("display","none");
            $('.qrcode').css("display","none");
        })
        $("#weibo").mouseover(function(){
            $('.weibo-grey').css("display","none");
            $('.weibo').css("display","inline-block");
        })
        $("#weibo").mouseout(function(){
            $('.weibo-grey').css("display","inline-block");
            $('.weibo').css("display","none");
        })
        $("#blog").mouseover(function(){
            $('.blog-grey').css("display","none");
            $('.blog').css("display","inline-block");
        })
        $("#blog").mouseout(function(){
            $('.blog-grey').css("display","inline-block");
            $('.blog').css("display","none");
        })
        $("#blog").mouseover(function(){
            $('.blog-grey').css("display","none");
            $('.blog').css("display","inline-block");
        })
        $("#blog").mouseout(function(){
            $('.blog-grey').css("display","inline-block");
            $('.blog').css("display","none");
        })
        $("#linkedin").mouseover(function(){
            $('.linkedin-grey').css("display","none");
            $('.linkedin').css("display","inline-block");
        })
        $("#linkedin").mouseout(function(){
            $('.linkedin-grey').css("display","inline-block");
            $('.linkedin').css("display","none");
        })
         //轮播logo
        $(".c-logo .logo").mouseover(function(){
            $this=$(this);
            $this.children("p.hover-text").show();
        })
        $(".c-logo .logo").mouseout(function(){
            $this=$(this);
            $this.children("p.hover-text").hide();
        })
    })
</script>
</body>
</html>
